<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="sizeAndWeight.weight">Weight</option>
	<option value="display.screenSize">Screen Size</option>
	<option value="storage.ram">RAM Storage</option>
	<option value="battery.type">Battery</option>

      </select><br><br>
	Compare:
      <select ng-model="phoneSelector1">
	<option ng-repeat="phone in phones" value={{phone.id}}>{{phone.name}}</option>
      </select>
	with
      <select ng-model="phoneSelector2">
	<option ng-repeat="phone in phones" value={{phone.id}}>{{phone.name}}</option>
      </select><br><br>
	<a href="#/compare/{{phoneSelector1}}&{{phoneSelector2}}">Compare</a>
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
	  class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
	  <a href="http://www.amazon.com/s/field-keywords={{phone.name.replace('\u2122', '')}}">Purchase</a>
        </li>
      </ul>

    </div>
  </div>
</div>
