<div class="compare">
<div id="left" class="two-col">
  <h1>{{phone1.name}}</h1>
  <p>{{phone1.description}}<p>
  <div class="phone-images">
    <img ng-src="{{phone1.images[0]}}" class="phone">
</div>
</div>
<div id="right" class="two-col">
  <h1>{{phone2.name}}</h1>
  <p>{{phone2.description}}<p>

  <div class="phone-images">
    <img ng-src="{{phone2.images[0]}}" class="phone">
</div>
</div>
<table class="compare-specs">
<tr>
  <th>Phone</th>
  <th>{{phone1.name}}</th>
  <th>{{phone2.name}}</th>    
</tr>
<tr>
  <td><strong>Availability and Networks</strong></td>
  <td><p ng-repeat="availability in phone1.availability">{{availability | exists}}</p></td>
  <td><p ng-repeat="availability in phone2.availability">{{availability | exists}}</p></td>
</tr>
<tr>
  <td><strong>Battery</strong></td>
</tr> 
<tr>
  <td>Type</td>
  <td>{{phone1.battery.type | exists}}</td>
  <td>{{phone2.battery.type | exists}}</td>
</tr>
<tr>
  <td>Talk Time</td>
  <td>{{phone1.battery.talkTime | exists}}</td>
  <td>{{phone2.battery.talkTime | exists}}</td>
</tr>
<tr>
  <td>Standby time (max)</td>
  <td>{{phone1.battery.standbyTime | exists}}</td>
  <td>{{phone2.battery.standbyTime | exists}}</td>
</tr>
<tr>
  <td><strong>Storage and Memory</strong></td>
</tr>
<tr>
  <td>RAM</td>
  <td>{{phone1.storage.ram | exists}}</td>
  <td>{{phone2.storage.ram | exists}}</td>
</tr>
<tr>
  <td>Internal Storage</td>
  <td>{{phone1.storage.flash | exists}}</td>
  <td>{{phone2.storage.flash | exists}}</td>
</tr>
<tr>
  <td><strong>Connectivity</strong></td>
</tr>
<tr>
  <td>Network Support</dt>
  <td>{{phone1.connectivity.cell | exists}}</td>
  <td>{{phone2.connectivity.cell | exists}}</td>
</tr>
<tr>
  <td>WiFi</td>
  <td>{{phone1.connectivity.wifi | exists}}</td>
  <td>{{phone2.connectivity.wifi | exists}}</td>
</tr>
<tr>
  <td>Bluetooth</td>
  <td>{{phone1.connectivity.bluetooth | exists}}</td>
  <td>{{phone2.connectivity.bluetooth | exists}}</td>
</tr>
<tr>
  <td>Infrared</td>
  <td>{{phone1.connectivity.infrared | checkmark | exists}}</td>
  <td>{{phone2.connectivity.infrared | checkmark | exists}}</td>
</tr>
<tr>
  <td>GPS</td>
  <td>{{phone1.connectivity.gps | checkmark | exists}}</td>
  <td>{{phone2.connectivity.gps | checkmark | exists}}</td>
</tr>
<tr>
  <td><strong>Android</strong></td>
</tr>
<tr>
  <td>OS Version</td>
  <td>{{phone1.android.os | exists}}</td>
  <td>{{phone2.android.os | exists}}</td>
</tr>
<tr>
  <td>UI</td>
  <td>{{phone1.android.ui | exists}}</td>
  <td>{{phone2.android.ui | exists}}</td>
</tr>
<tr>
  <td><strong>Size and Weight</strong></td>
</tr>
<tr>
  <td>Dimensions</td>
  <td><p ng-repeat="dim in phone1.sizeAndWeight.dimensions">{{dim | exists}}</p></td>
  <td><p ng-repeat="dim in phone2.sizeAndWeight.dimensions">{{dim | exists}}</p></td>
</tr>
<tr>
  <td>Weight</td>
  <td>{{phone1.sizeAndWeight.weight | exists}}</td>
  <td>{{phone2.sizeAndWeight.weight | exists}}</td>
</tr>
<tr>
  <td><strong>Display</strong></td>
</tr>
<tr>
  <td>Screen size</td>
  <td>{{phone1.display.screenSize | exists}}</td>
  <td>{{phone2.display.screenSize | exists}}</td>
</tr>
<tr>
  <td>Screen resolution</td>
  <td>{{phone1.display.screenResolution | exists}}</td>
  <td>{{phone2.display.screenResolution | exists}}</td>
</tr>
<tr>
  <td>Touch screen</td>
  <td>{{phone1.display.touchScreen | checkmark | exists}}</td>
  <td>{{phone2.display.touchScreen | checkmark | exists}}</td>
</tr>
<tr>
  <td><strong>Hardware</strong></td>
</tr>
<tr>
  <td>CPU</td>
  <td>{{phone1.hardware.cpu | exists}}</td>
  <td>{{phone2.hardware.cpu | exists}}</td>
</tr>
<tr>
  <td>USB</td>
  <td>{{phone1.hardware.usb | exists}}</td>
  <td>{{phone2.hardware.usb | exists}}</td>
</tr>
<tr>
  <td>Audio / headphone jack</td>
  <td>{{phone1.hardware.audioJack | exists}}</td>
  <td>{{phone2.hardware.audioJack | exists}}</td>
</tr>
<tr>
  <td>FM Radio</td>
  <td>{{phone1.hardware.fmRadio | checkmark | exists}}</td>
  <td>{{phone2.hardware.fmRadio | checkmark | exists}}</td>
</tr>
<tr>
  <td>Accelerometer</td>
  <td>{{phone1.hardware.accelerometer | checkmark | exists}}</td>
  <td>{{phone2.hardware.accelerometer | checkmark | exists}}</td>
</tr>
<tr>
  <td><strong>Camera</strong></td>
</tr>
<tr>
  <td>Primary</td>
  <td>{{phone1.camera.primary | exists}}</td>
  <td>{{phone2.camera.primary | exists}}</td>
</tr>
<tr>
  <td>Features</td>
  <td>{{phone1.camera.features.join(', ') | exists}}</td>
  <td>{{phone2.camera.features.join(', ') | exists}}</td>
</tr>
<tr>
  <td><strong>Additional Features</strong></td>
  <td>{{phone1.additionalFeatures | exists}}</td>
  <td>{{phone2.additionalFeatures | exists}}</td>
</tr>
</table>
</div>
